export(clmp)
export(print.clmp)
export(summary.clmp)
export(plot.clmp)

export(as.phylo.clmp)
export(midpoint)
export(midpoint.phylo)

useDynLib(clmp, .registration = TRUE)
importFrom(Rcpp, sourceCpp)
